body{
    background-image: url(back2.jpg); 
 }
h1{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
 .para{
    color: rgb(73, 4, 107);
    text-align: center;
}

